.films {
  padding: 60px 0 90px;
  &__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__card {
    width: calc(16.66666% - 25px);
  }
  &__sort {
    margin-top: 30px;
  }
  &__close{
    margin-top: 30px;
    display: flex;
    column-gap: 7px;
    align-items: center;
    cursor: pointer;
    &:hover{
      transform: translateY(-3px);
      transition: .3s;
    }
    & > span {
      font-size: 25px;
      margin-top: 5px;

    }
  }
  &__active{
    &-block{
      display: flex;
      column-gap: 10px;
      align-items: center;
    }
    &-icon{
      font-size: 20px;
    }
  }
  &__filter2{
    display: flex;
    align-items: center;
    column-gap: 30px;
    margin-top: 30px;
  }
  &__item{
    background: #312b45 !important;
    color: white!important;
    border: none !important;
    padding: 12px 25px;
    min-width: 100px;
    border-radius: 20px !important;
    cursor: pointer;

    &_active{
        border: none !important;
        padding: 12px 25px;
        min-width: 100px;
        border-radius: 20px !important;
        cursor: pointer;
        background: #252035 !important;
        color: #676471 !important;

    }
    &:hover{
      & > p {
        color: #312b45 !important;
      }
      & > svg{
        fill: #312b45;
      }
      transition: .3s;
      background: white !important;
    }
  }
  &__filter {
    padding: 30px;
    background: #1f1b2e;
    border-radius: 8px;
    margin: 30px 0;
    &-sort {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }
    &-box {
      background: #312b45 !important;
      color: white!important;
      border: none !important;
      border-radius: 6px !important;
      &:hover{
        transform: translateY(-3px);
        transition: .3s;
      }
    }
    &-item {
      background: #1f1b2e !important;
      color: white;
      &:hover{
        background: #ea0057 !important;
      }
    }
  }
  &__skeleton {
    width: calc(16.66666% - 25px);
    &-box{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 30px;

    }
  }
  &__select{
    color: black;
    padding: 12px 20px;

    & > option{
      color: black;
    }
  }
}


.css-6hp17o-MuiList-root-MuiMenu-list{
  padding: 0 !important;
}
