.header {
  padding: 15px 0;

  position: relative;
  z-index: 10;
  &__line{
    width: 100%;
    margin-top: 25px;
    border-bottom: 1px solid #36353e;

  }
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  &__logo {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 5px;
  }

  &__menu {
    display: flex;
    column-gap: 30px;
  }

  &__link {
    color: #a5a1b2;
    font-size: 22px;

    &:hover {
      color: #fff;
    }

    &.active {
      color: #ffffff;
    }
  }
  //&__item_films {
  //  &:hover {
  //    .header__item-down {
  //      display: flex;
  //    }
  //  }
  //}
  &__item-down {
    transition: .5s;
    display: none;

    max-width: 1300px;
    width: 100%;

    padding: 30px 20px 20px;
    background: #1f1b2e;

    position: absolute;
    top: 99px;
    left: 20px;
  }


  &__right {
    display: flex;
    column-gap: 20px;
    align-items: center;
  }

  &__search {
    border: none;
    outline: none;
    background: transparent;

    &::placeholder {
      color: #a5a1b2;
      font-size: 17px;
      font-weight: 400;
    }
  }

  &__auth {
    &-block{
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 5px;
      flex-direction: column;
      row-gap: 10px;
      padding: 70px 0;
    }
    &:hover{
      .header__profile{
        transition: .2s;
        transition-delay: 0.3s;

        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
    }
    &-btn{
      width: 100%;
      padding: 15px 20px;

      font-weight: 700;
      background: #ea003d;
      border-radius: 8px;

      border: none;
      outline: none;
      cursor: pointer;
    }
  }
  &__avatar{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
  }
  &__profile{
    display: flex;
    position: absolute;
    top: -10px;
    right: -1.5%;

    width: 103%;
    height: 450px;

    background: #1f1b2e;

    border-radius: 10px;
    z-index: -1;

    padding: 30px;

    transition: opacity 0.3s ease, visibility 0.3s ease;
    opacity: 0;
    visibility: hidden;



    & > div {
      margin-top: 100px;
    }
    &-login{
      color:#939297;
    }

    &-right {
      width: 40%;
      padding: 0 30px;
      &-title{
        font-weight: 700;
        font-size: 35px;
      }
      &-email{
        width: 50px;
        height: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 7px;
      }
      &-emails{
        display: flex;
        align-items: center;
        column-gap: 25px;
        margin: 35px 0 45px;
      }
      &-info{
        display: flex;
        flex-direction: column;
        row-gap: 7px;
      }
      &-text{
        color:#939297;
        &:hover{
          color: white;
          cursor: pointer;
        }
      }
    }
    &-new{
      display: flex;
      justify-content: center;
      align-items: center;

      width: 49px;
      height: 49px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 40px;

      background: #312b45;
    }

    &-left {
      width: 60%;
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      border-right: 1px solid #36353e;
    }
    &-link{
      font-weight: 700;
    }
    &-icon{
      font-size: 23px;
    }
    &-block{
      min-height: 100px;
      cursor: pointer;
      padding: 20px;
      background: #312b45;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 10px;
    }
  }
  &__noUser{
    display: flex;
    align-items: center;
    column-gap: 8px;

    border-radius: 5px;


    background: #1f1b2e;

    cursor: pointer;

    padding: 5px 14px 5px 5px;
    &-img{
      width: 35px;
      height: 35px;
      border-radius: 5px;
    }
    &-text{
      font-size: 13px;
      font-weight: 700;
    }
  }

}